.root {
    -fx-background-image: url("starki.jpg");
    -fx-background-size: cover;

}
/*blue color #0D2149
gray quick silver 9DA3A4
*/

.label {
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-text-fill: #0D2149;
    -fx-background-color: white;
    /*-fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );*/
}
.header {
    -fx-font-size: 25px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-background-color: rgba(47,36,76,0.8);
    /*-fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );*/
}
.intro {
    -fx-font-size: 20 px;
    -fx-font-family: "Calibri Light";
    -fx-fill: #818181;
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}

.text2 {
    -fx-font-size: 30px;
    -fx-font-family: "Calibri Light";
    -fx-fill: #0C6291;
    -fx-effect: innershadow(three-pass-box, rgba(0, 0, 0, 0.7), 6, 0.0, 0, 2);
}
.button {
    -fx-text-fill: white;
    -fx-font-family: "Calibri Light";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#99b5d4, #7d86b6);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
.text-field {
    -fx-font-size: 12px;
    -fx-font-family: "Calibri Light";
    -fx-font-weight: bold;
}
.password-field{
    -fx-font-size: 15px;
    -fx-font-family: "Calibri Light";
    -fx-font-weight: bold;
}

#welcome-text {
    -fx-font-size: 30px;
    -fx-font-family: "Calibri Light";
    -fx-fill: #818181;
    -fx-effect: innershadow(three-pass-box, rgba(0, 0, 0, 0.7), 6, 0.0, 0, 2);
}

#find-plane {
    -fx-font-size: 13 px;
    -fx-font-family: "Calibri Light";
    -fx-fill: #818181;
    /*-fx-effect: innershadow(three-pass-box, rgba(0, 0, 0, 0.7), 6, 0.0, 0, 2);*/
}